/******** DARK MODE TOUR BOX ********/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #00ccff;
}

::-webkit-scrollbar-thumb {
    background-color: #fc7a00;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff0000;
}

.body-color-overlay2 {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 14;
    display: none;
    transition: all 0.3s ease-in-out;
}

.apply-now-btn {
    background-color: #ff5b00 !important;
    color: white !important;
    border: 1px solid white !important; /* White border */
}


.z-index-9 {
    z-index: 99999999;
    position: relative;
}

#sb_container {
    z-index: 999 !important;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

/***** Custom Add to Home Screen *****/
.block__install {
    display: none;
}

.h-thread-icon {
    position: relative;
    top: -1px;
}

.lazybg {
    background-size: cover !important;
}

/***** Custom Exit Intent Popup *****/
.exit-intent-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background: rgba(15, 15, 15, 0.9);
    transform: translateY(60%) scale(0);
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.exit-intent-popup.visible {
    transform: translateY(0) scale(1);
}

.newsletter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    border-radius: 10px;
    width: 750px;
}

.newsletter img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.newsletter .popup-content {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left !important;
}

.newsletter .popup-content h2 {
    font-family: 'DM Sans', sans-serif !important;
    font-weight: 300 !important;
}

.newsletter .popup-content .pop-btn {
    border-radius: 6px;
    width: auto;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-color-white);
    letter-spacing: 2px;
    text-decoration: none;
    padding: 12px 24px;
    display: inline-block;
    background: var(--bgcolor-red);
    transition: all 0.2s ease-in-out;
}

.newsletter .popup-content .pop-btn:hover {
    color: var(--text-color-white);
    background: var(--bgcolor-dark-purple);
}

.newsletter .popup-content .pop-btn svg {
    margin-left: 10px;
    margin-top: -2px;
}

.newsletter .popup-content h2 strong {
    font-weight: 800 !important;
}

.exit-intent-popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 28px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #b3b3b3;
    padding: 7px;
    line-height: 0;
    display: none;
}

.exit-intent-popup .close svg {
    position: relative;
    z-index: 99999;
    display: inline-block;
}

/***** Custom Exit Intent Popup *****/


.header_btn {
    padding: 4px 8px;
    position: relative;
    padding-right: 21px !important;
    border-radius: 5px;
}

.header_btn .navbar-toggler {
    position: absolute;
    right: 0;
    top: 0px;
    padding: 0;
    /* transition: all .2s ease-in-out; */

    height: 100%;
    width: 91px;
    align-items: center;
    justify-content: center;
}

.header_btn .navbar-toggler:hover {
    opacity: .7;
}

.header_btn .navbar-toggler:focus {
    box-shadow: none;
}

#navbarToggleExternalContent .mega-menu {
    height: 100vh;
    margin-top: -162px;
    padding-top: 212px;
    overflow: hidden;
    position: relative;
}

header.sticky #navbarToggleExternalContent .mega-menu {
    margin-top: -94px;
    padding-top: 150px;
    height: 105vh;
}

header.sticky.scroll-down #navbarToggleExternalContent .mega-menu {
    margin-top: -162px;
    padding-top: 190px;
}

header.sticky .nav-item.dd-menu-lg:hover>a::before {
    top: -2px;
}

.institute-list {
    height: 570px;
    margin-top: 50px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #52b9dc #0d5a75;
}

.mega-menu h3 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 100;
    color: var(--bs-mid-dark);
    margin-bottom: 0;
}

.institute-list ul li {
    margin-bottom: 45px;
}

.institute-list ul li>a {
    font-size: 28px;
    line-height: 30px;
    font-weight: 100;
    color: var(--bs-white);
    padding: 5px 0;
    text-transform: uppercase;
    position: relative;
    transition: all .3s ease-in-out;
}

.institute-list ul li>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #52b9dc;
    height: 4px;
}

.institute-list ul li>a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--pale-yellow);
    height: 4px;
    width: 0;
    transition: all .3s ease-in-out;
}

.institute-list ul li:hover a::after,
.institute-list ul li.active a::after {
    width: 0;
}

.institute-list ul li:hover a::before,
.institute-list ul li.active a::before {
    background: var(--pale-yellow);
    width: 100%;
}

.institute-info-sec {
    height: 100vh;
    top: 0 !important;
    right: 0;
    border-radius: 0;
    width: calc(100vw - 60vw);
    transform: rotateY(90deg);
    transform-origin: left;
    z-index: 0;
}

.step-first-menu>li:hover .step-second-menu.institute-info-sec,
.step-first-menu>li.active .step-second-menu.institute-info-sec {
    transform: rotateY(0);
}

.step-first-menu>li.active .step-second-menu {
    opacity: 1;
    visibility: visible;
}

.header__main {
    z-index: 2;
    position: relative;
}

.institute-content h5 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 100;
    margin-bottom: 0;
}

.h-55 {
    height: 55% !important;
}

.h-45 {
    height: 45% !important;
}

.seagreen-overlay-faded::before {
    background: #00a0e9;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#search-page-mob {
    margin-top: 5px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 18px;
}

#search-page-mob span {
    font-size: 10px;
    display: block;
    color: var(--white-opacity-bg);
}

#search-page-mob i {
    font-size: 18px;
}

.header_btn .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    width: 19px;
    height: 19px;
    background-image: url(images/toggler-close.webp);
}

#sb_chat_btn {
    background: var(--pale-yellow) !important;
}

/** AUGUST NEW HEADER CODE **/

.dark-grey-bg {
    background: var(--navy-color) !important;
}

.navbar {
    padding-bottom: 0;
}

.navbar-brand.mt-0 {
    margin-top: 5px;
}

.head-notifications {
    width: 346px;
    margin-top: 10px;
}

.head-notifications h6 {
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, .3);
    font-weight: 300;
    margin: 0;
    text-align: center;
    position: relative;
}

.head-notifications h6::before {
    content: "";
    background: rgba(255, 255, 255, .3);
    height: 1px;
    position: absolute;
    left: 0;
    top: 7px;
    width: 35%;
}

.head-notifications h6::after {
    content: "";
    background: rgba(255, 255, 255, .3);
    height: 1px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 35%;
}

.head-note-slider {
    padding: 0 40px;
    margin-top: 5px;
}

.head-note-slider.pagination-style .slick-dots {
    bottom: -12px;
    padding: 0;
}

.head-note-slider.pagination-style .slick-dots li.slick-active button {
    background: var(--bs-white);
    border: var(--bs-white);
}

.hn-item a {
    font-size: 11px;
    line-height: 13px;
    color: var(--bs-white);
    font-weight: 300;
    margin: 0;
    text-align: center;
    white-space: normal;
    display: block;
    height: 50px;
}

.hn-item a:hover {
    opacity: .7;
}

.hn-item a p {
    font-size: inherit !important;
}

.hn-item p svg {
    position: absolute;
    top: 0;
    right: 3px;
    width: 11px;
    height: auto;
    filter: invert(1);
}

.header.dark-grey-bg .head-note-slider.pagination-style .slick-dots {
    display: none;
}

.container-fluid.align-items-start {
    align-items: start;
    gap: 2rem;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 5px;
    transition: all .2s ease-in-out;
}

.menu-options.position-relative {
    top: unset;
    right: unset;
}

.navbar-expand-xl .navbar-collapse {
    flex-direction: column;
    gap: 15px;
}

.navbar-nav.me-auto {
    margin-right: auto;
}

.header__top-right.w-auto {
    width: auto;
}

.header__top-right.w-auto li a:hover {
    opacity: .5;
}

.header .nav-item {
    margin: 0 38px;
}

.header .nav-item>a {
    padding: 11px 0 38px 0;
    font-weight: 700;
    font-size: 16px;
}

.header .nav-item.dd-menu-lg>a::after {
    top: 12px;
}

.lower-header {
    width: 100%;
    padding: 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px) contrast(80%);
}

.step-second-menu {
    top: 38px;
}

.header.scroll-up.dark-grey-bg {
    background: var(--navy-color) !important;
}

.header.scroll-up .navbar-expand-xl .navbar-collapse {
    gap: 5px;
}

.header_btn * {
    transition: all .2s ease-in-out;
}

.header.scroll-up .navbar-brand {
    padding: 4px 6px !important;
    /* Reduce padding for navbar brand */
    transform: scale(0.9);
    /* Shrink the navbar brand */
    transition: padding 0.3s ease, transform 0.3s ease;
}

/* Optionally, you can reduce the font size or any other style */
.header.scroll-up .navbar-brand img {
    width: 190px;
    transition: width 0.3s ease;
    margin: -13px 0px 2px 0px;
}

/* Mobile-specific styles */
@media (max-width: 767px) {
    .header.scroll-up .navbar-brand {
        padding: 2px 4px !important;
        /* Reduce padding even more for smaller screens */
        transform: scale(0.8);
        /* Further shrink the navbar brand */
    }

    .header.scroll-up .navbar-brand img {
        width: 130px;
        /* Adjust image size for mobile view */
    }
}


.header.scroll-up .header_btn {
    padding: 7px 10px;
}

.header.scroll-up .header_btn::before {
    top: 0;
    bottom: 0;
}

.header.scroll-up .header_btn img {
    width: 28px;
    height: 28px;
}

.header.scroll-up .header_btn span {
    font-size: 16px;
    line-height: 16px;
}

.header.scroll-up .header_btn span small {
    font-size: 10px;
    line-height: 10px;
}

.header.scroll-up .upper-header {
    margin-top: 0;
}

.header.scroll-up .lower-header {
    padding: 8px;
}

.header.scroll-up .step-second-menu {
    top: 31px;
}

.footer-fixed-bar {
    bottom: 15px;
    left: 24px;
    right: unset;
    border-radius: 10px;
    width: 76.5%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

.footer-fixed-bar.fixed-social {
    width: 20%;
    right: 24px;
    left: unset;
    background: #00a0e9;
    display: flex;
    gap: 20px;
}

.ph-missed a i {
    transform: unset;
    top: unset;
}

.ph-missed a::after {
    display: none;
}

.footer-fixed-bar button {
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

.footer-fixed-bar button:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}

.fixed-social li a {
    line-height: 1;
}

.fixed-social li span {
    display: block;
    font-size: 9px;
}

.header__top-right.social-sub {
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, .3);
    top: -4px;
}

.header__top-right.social-sub li {
    margin-left: 21px;
}

.header__top-right.social-sub::before {
    content: "Get Social with us";
    position: absolute;
    bottom: -15px;
    font-size: 9px;
    color: #000000;
    transform: translate(60%);
}

#sb_container.sb-container-align-right {
    bottom: 60px !important;
}

.allNotification {
    bottom: 125px;
}

.moveUp {
    bottom: 170px !important;
}

.gotoTop.moveUp {
    bottom: 125px !important;
}


@media (min-width: 768px) {
    header.dark-grey-bg .custom-tooltip .bottom {
        top: -150px;
    }

    header.dark-grey-bg .custom-tooltip .bottom i {
        bottom: -12px;
        transform: rotate(180deg);
    }

}

@media (min-width: 1400px) and (max-width: 1899px) {
    .institute-content h5 {
        font-size: 20px;
        line-height: 22px;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav {
        justify-content: space-between;
    }

    .mob-cl-btn,
    .mob-cl-search {
        display: none !important;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .institute-list {
        height: 420px;
    }

    .institute-list ul li>a {
        font-size: 19px;
        line-height: 21px;
    }

    .institute-content h5 {
        font-size: 18px;
        line-height: 20px;
    }

    .institute-content {
        padding: 2rem !important;
    }

    .institute-content .btn.btn-primary {
        white-space: nowrap;
    }
}

@media (max-width: 991px) {
    #search-page-mob {
        padding: 2px 18px;
    }
}

@media (max-width: 767px) {
    .newsletter {
        width: 90%;
    }

    .newsletter img {
        height: 300px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .newsletter .popup-content {
        text-align: center !important;
    }

    .custom-tooltip .bottom {
        min-width: 320px;
        padding: 15px;
        white-space: normal;
    }

    .block__install {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 9999999;
        background: var(--bs-primary);
        padding: 15px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    }

    .block__install .inner {
        display: flex;
        align-items: center;
    }

    .block__install .inner .close {
        font-size: 32px;
        margin-right: 15px;
    }

    .block__install .inner .close:hover {
        cursor: pointer;
    }

    .block__install .inner .logo {
        width: 48px;
        margin-top: 0;
        border-radius: 6px;
        background: transparent;
        border: 1px solid var(--bg-white-faded);
        padding: 9px;
    }

    .block__install .inner .logo img {
        width: 100%;
    }

    .block__install .inner .name {
        padding-left: 10px;
        line-height: 18px;
    }

    .block__install .inner .name span {
        display: block;
        color: var(--bs-white);
    }

    .block__install .inner .name span.title {
        font-size: 13px;
        font-family: var(--primary-font);
        font-weight: bold;
        color: var(--bs-white);
    }

    .block__install .inner .name span.description {
        font-size: 10px;
        font-family: var(--primary-font);
    }

    .block__install .inner .cta {
        margin-left: auto;
    }

    .block__install .inner .cta button {
        padding: 5px 15px !important;
        font-family: var(--primary-font);
        font-weight: bold;
        letter-spacing: .5px;
        border-radius: 6px;
        background: var(--bg-darkyellow);
        box-shadow: 0 3px 0 #cd8c07;
    }

    .block__install.is-active {
        display: block;
    }

    .h-twitter-icon {
        top: -1px !important;
    }
}



/* new styling */


@media only screen and (min-width:1920px) {
    .menu-options li a {
        letter-spacing: .5px;
    }

    .highlights-section .container-fluid,
    .placements-logos,
    .hero-banner .container-fluid {
        max-width: 1920px;
        margin: auto;
    }
}

.header__top,
.menu-options {
    display: flex;
}

.header.sticky .header__top {
    padding: 10px 12px 9px 12px;
}

.header.sticky .top-notification-slider {
    background: #303339;
    background: transparent;
}

.btn {
    box-shadow: none;
    border-radius: 10px;
}

.tns-item {
    text-align: center;
}

.header__top-left,
.header.sticky .header__top-left {
    width: auto;
}

.h-twitter-icon,
.f-twitter-icon {
    position: relative;
    top: -2px;
}

@media only screen and (max-width: 1900px) {
    .header .nav-item {
        margin: 0 28px;
    }

    .footer-fixed-bar {
        width: 68.5%;
    }

    .footer-fixed-bar.fixed-social {
        width: 27.5%;
    }
}

@media only screen and (max-width:1730px) {
    .header .nav-item {
        margin: 0 23px;
    }
}

@media only screen and (max-width:1695px) {
    .header .nav-item {
        margin: 0 15px;
    }

    .menu-options li {
        margin-left: 34px;
    }
}

@media only screen and (max-width:1600px) {
    .st-programs {
        height: 500px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--pale-yellow) #0d5a75;
    }

    .program-drop-down-graphic h3 span {
        font-size: 26px;
    }
}

@media only screen and (max-width:1599px) {
    .header .nav-item {
        margin: 0 12px;
    }
}

@media only screen and (max-width:1540px) {
    .cu-logo {
        width: 170px;
    }

    .navbar-brand__slider {
        width: 105px;
    }

    .head-notifications {
        width: 291px;
    }

    .head-note-slider {
        padding: 0 18px;
    }

    .hn-item a {
        height: 58px;
    }

    .container-fluid.align-items-start {
        gap: 1rem;
    }

    .st-programs {
        left: -300px;
    }
}

@media only screen and (max-width:1465px) {
    .menu-options li {
        margin-left: 22px;
    }

    .header .nav-item>a {
        font-size: 14px;
    }

    .header .nav-item {
        margin: 0 15px;
    }

    .header__top-right li.head-search {
        margin-left: 0;
    }

    #search-page-mob {
        margin-right: 30px;
    }

    .st-admissions {
        left: -100px;
    }
}

@media only screen and (max-width:1399px) {
    .header .nav-item {
        margin: 0 12px;
    }

    .navbar-expand-xl .navbar-collapse {
        gap: 10px;
    }

    .menuTabs li a {
        height: 55px;
    }

    .step-second-menu li a {
        line-height: 14px;
    }

    .st-admissions {
        height: 449px;
    }
}

@media only screen and (max-width:1365px) {
    .cu-logo {
        width: 107px;
    }

    .navbar-brand__slider {
        width: 88px;
    }

    .head-notifications {
        width: 249px;
    }

    .head-note-slider {
        padding: 0 5px;
    }

    .hn-item a {
        height: 50px;
    }

    .container-fluid.align-items-start {
        gap: .5rem;
    }

    .menu-options li {
        margin-left: 13px;
    }

    .menu-options li a {
        font-size: 11px;
    }

    .header .nav-item {
        margin: 0 16px;
    }

    .header .nav-item>a {
        font-size: 13px;
    }

    .header .nav-item.dd-menu-lg>a::after {
        top: 10px;
    }

    .header .nav-item.dd-menu-lg:hover>a::before {
        top: -8px;
    }

    #search-page-mob i {
        font-size: 15px;
    }

    .header.scroll-up .navbar-brand.mt-0 {
        margin-top: 15px;
    }

    .header.scroll-up .upper-header {
        margin-top: 5px;
    }

    .st-programs {
        height: 470px;
        left: -390px;
    }

    .st-campus {
        left: -50px;
    }

    .footer-fixed-bar {
        width: 63.5%;
    }

    .footer-fixed-bar.fixed-social {
        width: 31.5%;
    }
}

@media only screen and (max-width:1199px) {

    .header_btn,
    header.sticky .header_btn {
        margin: auto;
    }

    .header_btn .navbar-toggler,
    .header_btn::before {
        display: none !important;
    }

    .header_btn .navbar-toggler .navbar-toggler-icon {
        background-image: var(--bs-navbar-toggler-icon-bg);
    }

    #navbarToggleExternalContent {
        position: fixed;
        bottom: calc(100vh - 650px);
        z-index: 2;
        left: 15px;
        right: 15px;
    }

    .header .nav-item.dd-menu-lg:hover>a::before {
        display: none;
    }

    .header__top-right ul {
        width: 100%;
        justify-content: space-between
    }

    .hts-text {
        display: inline-block;
    }

    #navbarToggleExternalContent .mega-menu {
        height: 650px;
        padding-top: 50px;
        margin-top: 0;
    }

    header.sticky #navbarToggleExternalContent .mega-menu {
        margin-top: 0;
        padding-top: 50px;
    }

    .mega-menu h3 {
        font-size: 44px;
        line-height: 44px;
    }

    .institute-list {
        height: 500px;
        margin-top: 30px;
    }

    .institute-list .step-first-menu {
        width: auto;
    }

    .institute-list ul {
        padding-right: 25px;
    }

    .institute-list ul li {
        margin-bottom: 30px;
    }

    .institute-list ul li>a {
        font-size: 16px;
        line-height: 18px;
        display: inline-block;
    }

    .institute-info-sec {
        display: none;
    }

    .st-admissions {
        height: auto;
    }
}

@media only screen and (max-width:991px) {
    .navbar-collapse.show {
        top: 104px;
    }
}

@media only screen and (max-width:870px) {
    .header.sticky .hts-text {
        display: none;
    }
}

@media only screen and (max-width:767px) {
    .header.sticky .header__top-left {
        position: static;
        background: transparent;
    }

    .header.sticky .header__top {
        /*display: block !important;
    position: fixed;*/
        right: 10px;
    }

    .header.sticky .tns-item a {
        padding: 0;
    }

    .hts-text {
        display: none;
    }
}

@media only screen and (max-width:575px) {
    .header__main {
        border-top: 0;
    }

    .header.sticky #search-page-mob {
        padding: 0;
    }

    #search-page-mob {
        border: 0;
        padding: 0;
        margin-right: 7px;
    }

    .navbar-collapse.show {
        top: 95px;
    }
}

@media only screen and (max-width:479px) {
    .nirf-links ul {
        flex-wrap: wrap;
        justify-content: center !important;
        column-gap: 15px;
        row-gap: 6px;
    }
}

@media only screen and (max-width:430px) {
    #search-page-mob .fa.fa-search.ms-3 {
        margin-left: 0 !important;
    }
}



.campusDdLink:hover a,
.campusDdLink>a:hover {
    text-decoration: none !important;
}

.campusDdLink a {
    padding: 13px 15px;
    border-radius: 0;
}

.campusDd {
    position: absolute;
    top: 40px;
    background: #fff;
    z-index: 1;
    width: 340px;
    border-radius: 8px;
    padding: 0;
    left: -120px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3)
}

.campusDd a {
    text-decoration: none !important;
    display: block;
    padding: 5px 15px 15px;
    border-radius: 6px !important;
}

.campusDd a img {
    width: 70px !important;
    display: block;
    margin: auto;
}

.campusDd a span {
    color: #111 !important;
    line-height: 12px;
    display: block;
    letter-spacing: 1px;
}

.campusDd a:hover {
    background: #f1f1f1 !important;
}

.campusDd a:hover span {
    color: #087b8e !important;
}

.campusDdLink:hover .campusDd {
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    transform: rotateX(0);
}

.campusArea {
    background: #d7f0f2;
    border-radius: 6px;
}

.campusArea a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.campusArea a:hover {
    background: #c7e1e3;
    border-radius: 6px;
}

.campusArea img {
    width: 40px;
}

.campusArea span {
    color: #111;
    font-size: 14px;
    display: block;
    line-height: 12px;
    padding-left: 10px;
}

.sm-heading {
    color: #111;
    font-size: 12px;
    display: block;
    text-align: center;
}

.sm-heading span {
    position: relative;
    top: -13px;
    background: #fff;
    padding: 0 10px;
    color: #16818c;
}

@media only screen and (max-width: 1199px) {
    .container-fluid.align-items-start {
        align-items: center;
    }

    .header.scroll-up .navbar-brand.mt-0 {
        margin-top: 5px;
    }

    .navbar {
        padding-bottom: .5rem;
    }

    .navbar-collapse.show,
    .header.sticky .navbar-collapse {
        top: 72px !important;
    }

    .navbar-expand-xl .navbar-collapse.show {
        flex-direction: column-reverse;
        display: flex;
        justify-content: start;
    }

    .header .nav-item {
        margin: 0;
    }

    .header .nav-item>a {
        font-size: 14px;
        padding: 15px 0;
    }

    .menu-options {
        width: 100%;
    }

    .upper-header {
        align-items: start;
        flex-direction: column;
        gap: 10px;
    }

    .upper-header .header_btn,
    .upper-header .header__top-right.w-auto {
        display: none !important;
    }

    .header_btn {
        padding-right: 40px !important;
    }

    .header_btn,
    header.sticky .header_btn {
        margin: unset;
    }

    .lower-header {
        background: transparent;
        backdrop-filter: unset;
        padding: 0;
    }

    .header.scroll-up .lower-header {
        padding: 0;
    }

    .head-notifications {
        display: none !important;
    }

    .mob-lower {
        justify-content: space-between;
        display: flex;
    }

    .mob-cl-btn {
        padding: 4px 9px 4px 5px !important;
        margin-right: 24px !important;
    }

    .mob-cl-search li {
        display: none;
    }

    .mob-cl-search .head-search {
        display: block;
    }

    #search-page-mob span {
        color: var(--bs-white);
    }

    .campusDdLink {
        display: block !important;
    }

    .campusDdLink a {
        border-color: transparent;
    }

    .campusDd {
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);
        width: 100%;
    }

    .menu-options li:first-child a {
        text-align: center;
    }

    .footer-fixed-bar {
        width: 43%;
    }

    .footer-fixed-bar.fixed-social {
        width: 50.5%;
    }
}

@media only screen and (max-width: 767px) {

    /*
        .header.scroll-down.dark-grey-bg {
            background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0.9046219171262255) 80%, rgba(255,255,255,0) 100%) !important;
            height: auto;
        } 
*/
    .navbar-brand {
        margin-left: 0;
    }

    .navbar-brand__slider {
        width: 95px;
    }

    .header .header_btn img {
        width: 28px;
        height: 28px;
    }

    .header .header_btn span {
        font-size: 16px;
        line-height: 16px;
    }

    .header .header_btn span small {
        font-size: 10px;
        line-height: 10px;
    }

    .mob-lower {
        width: 100%;
    }

    .header__top-right li {
        margin-left: 15px;
    }

    .header #search-page-mob {
        padding: 3px 0 !important;
    }

    .mob-cl-search li {
        display: block;
        text-align: center;
    }

    .mob-cl-search li a {
        line-height: 1;
    }

    .mob-cl-search li span {
        display: block;
        font-size: 9px;
    }

    .mob-cl-search li.head-search {
        margin-left: 10px !important;
    }

    #search-page-mob {
        margin: 0;
    }

    #search-page-mob span {
        font-size: 9px;
    }

    .footer-fixed-bar {
        width: 95% !important;
        left: 10px !important;
        bottom: 10px;
    }

    .footer-fixed-bar.fixed-social {
        bottom: 60px;
    }

    .fixed-social .header__top-right {
        display: none !important;
    }

    .fixed-social .header__top-right.social-sub {
        display: flex !important;
        justify-content: space-evenly;
        width: 100% !important;
    }

    .header__top-right.social-sub li {
        margin-left: 8px;
    }

    .header__top-right.social-sub {
        border-left: 0;
        top: 0;
    }

    .header__top-right.social-sub::before {
        display: none;
    }

    .lower-header .step-second-menu {
        height: 200px !important;
        overflow-y: scroll !important;
    }

    .allNotification {
        bottom: 174px;
    }

    .moveUp {
        bottom: 218px !important;
    }

    .gotoTop.moveUp {
        bottom: 105px !important;
    }

    #sb_container.sb-container-align-right {
        bottom: 110px !important;
    }
}

@media only screen and (max-width: 700px) {
    #sb_container.sb-container-align-right .sb-chat-bubble {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .header_btn img {
        margin-right: 0;
    }

    .header__top-right li {
        margin-left: 10px;
    }

    .mob-cl-btn {
        margin-right: 0 !important;
    }
}

h6.end_date {
    background: #e4363d;
    padding: 5px 8px;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    border-radius: 6px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.programForm-sec {
    width: 464px;
    background: var(--bgcolor-white);
    position: relative;
    z-index: 5;
    border-radius: 10px;
    margin-top: 80px;
    height: auto !important;
}

.crowning-sec.mt-0 {
    margin-top: 0;
}

.programForm-header {
    background: var(--bgcolor-gray);
    padding: 20px 25px;
    text-transform: uppercase;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.programForm-header h2 {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color-d-gray);
    margin: 0;
}

.programForm-header h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    font-weight: 900;
}

.programForm-sec .api-regform input[type="text"],
.programForm-sec .api-regform select {
    height: 41px;
    border-radius: 6px;
    border: 1px solid var(--text-color-d-gray);
    color: var(--text-color-dark);
    padding-left: 18px;
    padding-right: 34px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.programForm-sec .api-regform .formField {
    margin-bottom: 10px;
}

.programForm-sec .api-regform h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.programForm-sec .api-regform select {
    background-position: 95% center;
}

.submitDataButtons input {
    width: 100% !important;
}

.programForm-sec .api-regform .submitDataButtons input[type="button"] {
    border-radius: 6px;
    background: var(--bgcolor-red);
    font-family: var(--primary-font);
    height: 47px;
    letter-spacing: 1px;
    font-weight: 700;
}

.programForm-sec .api-login-btn {
    background: transparent !important;
    color: var(--text-color-d-gray) !important;
    width: 100% !important;
    text-decoration: underline;
}

.mktoErrorMsg {
    font-weight: 300 !important;
    bottom: -4px !important;
    right: 4px !important;
}

#p_Error {
    font-size: 10px !important;
    font-weight: 300 !important;
    line-height: 1 !important;
    margin-bottom: 0 !important;
    margin-top: 10px !important;
    padding: 0 !important;
}

/**************** CITY DROPDOWN STYLING  **************/

ul[class*="ui-front"] {
    background: var(--bs-white);
    scrollbar-width: thin;
}

.ui-menu .ui-menu-item a {
    padding: 6px;
    line-height: 15px;
    font-size: 14px;
    color: var(--text-color-dark);
    font-family: var(--primary-font);
}

.ui-menu .ui-menu-item a.ui-state-focus {
    background: var(--bgcolor-gray);
}

/**************** CITY DROPDOWN STYLING  **************/

.animated-gradient {
    animation: animateBg 3s linear infinite;
    background-image: linear-gradient(42deg, #3092dd, #226fab, #023e93, #0c2f62, #3092dd) !important;
    background-size: 400% 100% !important;
}

.allNotification__list li {
    margin-bottom: 12px;
}

.allNotification__list li.animated-gradient a {
    color: var(--bg-white);
}

.allNotification__list li.animated-gradient .btn:hover {
    color: var(--bg-darkyellow);
}

.allNotification__list li.animated-gradient::after {
    border-top-color: #0f386d;
}

@keyframes animateBg {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.graphic-cont {
    display: flex;
    align-items: center;
}

.lazybg {
    background-size: cover !important;
}

.ranking-section.lazybg {
    background-position: bottom center !important;
}

.top-no {
    font-size: 42px;
    color: var(--text-darkyellow);
    line-height: 44px;
    font-weight: 700;
}

.top-no sup {
    top: -17px;
    right: 9px;
    font-size: 20px;
}

.video-img .title-tag {
    position: relative;
    top: -20px;
    left: 32%;
    border-radius: 0;
}

.banner-play-button {
    width: 50px;
    height: 50px;
    background: var(--bg-skyblue);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    position: relative;
    flex: 0 0 50px;
}

.banner-play-button svg path {
    fill: var(--text-color-white);
}

.banner-play-button svg {
    position: relative;
    left: 2px;
}

.banner-play-button:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background: rgba(48, 146, 221, .5);
    animation: scalebtn 2s infinite linear;
    z-index: -1;
}

.una-logo img {
    width: 75%;
}

@keyframes scalebtn {
    0% {
        transform: scale(1, 1);
        opacity: .5;
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1.1, 1.1);
        opacity: .5;
    }
}

.qs-wrld-link img {
    transition: all .2s ease-in-out;
}

.qs-wrld-link:hover img {
    transform: scale(1.01);
}

@media (max-width: 991px) {
    .pos-abs .row.h-100.align-items-center {
        display: flex;
        flex-direction: column-reverse;
    }

    .programForm-sec {
        width: 100%;
        margin-top: 150px;
    }
}

@media (max-width: 575px) {
    .programForm-sec .api-regform {
        padding: 15px;
    }

    .programForm-sec .api-regform .row {
        --bs-gutter-x: 1rem;
    }

    .una-logo {
        width: auto;
    }
}

@media (max-width: 460px) {

    .qsSlide {
        background-position: center !important;
        background-size: 180% !important;
        background-repeat: no-repeat;
        background-color: #1b2f4c;
    }

    .video-img .title-tag {
        left: 31%;
    }

}

@media (min-width: 461px) and (max-width: 749px) {
    .qsSlide {
        background-position: center !important;
    }
}

@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .carousel-item.form-list .form-img {
        position: absolute;
        width: 100% !important;
        object-fit: cover;
    }

    .carousel-item.form-list {
        height: 100vh;
    }

    .text-xl-start {
        text-align: start !important;
    }

    .graphic-cont {
        align-items: unset;
        gap: 20px;
    }

    .abet-half img {
        width: 600px;
    }
}

@media (min-width: 1366px) {
    ul[class*="ui-front"] {
        width: 195px !important;
    }
}

#sb_container {
    display: none
}




.mobile-b {
    display: none
}

.una-logo img {
    width: 125px;
}

@media (max-width: 575px) {
    .mobile-b {
        display: block
    }

    .desktop-b {
        display: none
    }
}

/** 4 September 2024 Start **/
@media (max-width: 479px) {
    .programForm-sec {
        height: 700px !important;
    }

    #p_Error {
        margin-top: 14px !important;
        padding: 5px 10px !important;
        border-radius: 7px;
        border: 1px solid var(--bg-dark);
        color: var(--bg-dark) !important;
        background: var(--pale-yellow) !important;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .loginPopup {
        padding: 90px 0 !important;
    }

    #closePopup {
        right: 10px !important;
    }
}

/** 4 September 2024 End **/

/* 11-06-2024 */

.header {
    background: hsla(0, 0%, 100%, 0.495);
}

@media (max-width: 768px) {
    .header {
        background: #ff9a52;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none !important;
    }

    .heroBanner .carousel .carousel-inner .carousel-item img {
        margin-top: 111px;
    }
}


@keyframes kenburns {
    0% {
        transform: scale(1);
        transition: transform 20000ms linear 0s;
    }

    100% {
        transform: scale(1.4);
        transition: transform 20000ms linear 0s;
    }

}


/* Carousel Items */
.landing-carousel .carousel-item {
    transition: transform .6s ease-in-out 0s, opacity ease-in-out .6s;
}

.landing-carousel .carousel-item.active {
    transition: transform .6s ease-in-out 0s, opacity ease-in-out .6s;
}

.landing-carousel>.carousel-inner>.carousel-item {
    opacity: 1;
    animation: kenburns 20000ms linear 0s infinite alternate;
}

/* Prevent body from overflowing */
body {
    overflow-x: hidden;
}

/* Ensure Slick wrapper doesn't cause extra width */
.slick-slider {
    overflow: hidden;
}

/* Ensure each slide doesn't extend beyond viewport */
.slick-track {
    display: flex;
    overflow: hidden;
}
